Enable PKCE for OIDC SSO provider

Outline's OIDC authentication provider currently *always* disables [PKCE](https://www.rfc-editor.org/rfc/rfc7636.html) support:

https://github.com/outline/outline/blob/4f84daf558615b5b7241966a2e5b729755038339/plugins/oidc/server/auth/oidc.ts#L63

This appears to be from [the original PR for generic OAuth2 support](https://github.com/outline/outline/pull/2388).

At present, Outline **cannot** authenticate to a server which **requires** PKCE support.

## Background

Per [RFC 7636 section 5](https://www.rfc-editor.org/rfc/rfc7636.html#section-5):

> Server implementations of this specification MAY accept OAuth2.0
> clients that do not implement this extension.  If the "code_verifier"
> is not received from the client in the Authorization Request, servers
> supporting backwards compatibility revert to the OAuth 2.0 [[RFC6749](https://www.rfc-editor.org/rfc/rfc6749)]
> protocol without this extension.

"MAY" indicates that the fallback mechanism is truly optional; so an authorisation provider could *require* *all* clients support PKCE for security reasons (regardless of whether the security weakness outlined in RFC 7636 applies to them).

Edit: more background reading: https://kanidm.github.io/kanidm/master/frequently_asked_questions.html#why-is-disabling-pkce-considered-insecure

_Originally posted by @micolous in https://github.com/outline/outline/discussions/7706_